<div class="card justify-element-center shadow-lg p-3 mb-5 bg-transparent" style="width: 18rem;  ">
  <img class="card-img-top rounded-circle justify-content-center"
    style="width:250px; height: 250px; padding: 12px; margin-left:8px; margin-right:12px "
    src="https://static.vecteezy.com/system/resources/previews/000/654/724/non_2x/vector-woman-face-cartoon.jpg"
    alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Nome do Usuário</h5>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item " style=" color:white; border-color:white; background-color:#000052;">Cras justo odio
    </li>
    <li class="list-group-item " style=" color:white; border-color:white; background-color:#000052;">Dapibus ac
      facilisis in</li>
    <li class="list-group-item " style=" color:white;border-color:white; background-color:#000052;">Vestibulum at eros
    </li>
  </ul>
</div>
