<!-- Notas sobre o que fazer a seguir:
    1)add classe text-truncate aos parágrafos dos cards-postagens
    2)a cor do search tá verde ainda
    3)imagem da moça justiça tá pixelando, pegar outra
    4)imagens não se padronizam dependendo da razão de aspecto, talvez tenha que criar uma div e fazer algo parecido com a parallax
    5)fonte tá bem zuada, precisa de uma melhor
    6)cores ainda não foram definidas 
    7)botões ainda estão diferentes-->
    
    <div id="carouselExampleSlidesOnly" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" width="900px" height="700px" src="https://cdn.pixabay.com/photo/2017/08/06/22/24/justitia-2597016_1280.jpg" alt="Primeiro Slide">
          </div>
        </div>
   </div>  

       <!-- CONTEUDO HOME -->

      <div class="jumbotron shadow-lg jumbotron-fluid"data-aos="fade-down" data-aos-duration="1300" style="background-color:#000052; color:white; margin-bottom: 40px;">
        <h1 class="display-4 text-monospace text-center">Social Law</h1>
        <h2 class="lead text-monospace text-center">A rede da Liga da Justiça!!</h2>
        
      </div>

        <!--POSTAGENS EM DESTAQUE-->


         <div class="row mt-5 mb-5 p-3 w-100" id="historia" >
            <div class="col-md-6 d-flex justify-content-end text-monospace"  style="padding-right: 60px;">
              <h2>Temas em destaque</h2>
            </div>
            
             <!-- BARRA DE BUSCA -->
            <div class="col-md-6 d-flex justify-content-left">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline-success btn-vinho my-2 my-sm-0" type="submit">Pesquisar</button>
              </form>
            </div>
            <!--/BARRA DE BUSCA -->

        </div>


        <div class="container">

          <!--POSTAGEM DE 1 A 6-->

          
          <div class="row mt-5 mb-5 p-4 w-100" id="historia" >
            <div class="col-md-4 d-flex justify-content-center">
              <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
                <img src="https://i.imgur.com/2mMjY8b.jpg"
                    class="card-img-top img-postagem mx-auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Direito Trabalhista</h5>
                    <p class="card-text">Esse tema é voltado para:  relações de trabalho entre funcionários e empregadores. O principal objetivo é garantir que trabalhadores tenham sua situação jurídica regulamentada e todos os seus direitos respeitados.

                    </p>
                   
                </div>
            </div>
            </div>
            
            <div class="col-md-4 d-flex justify-content-center">
              <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
                <img src=" https://i.imgur.com/CPn6hUO.jpg"
                    class="card-img-top img-postagem mx-auto" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Direito da Mulher</h5>
                      <p class="card-text ">Esse tema é voltado para: às mulheres em face do contexto de desigualdade de poder e violência de gênero verificado na sociedade, em consonância com o princípio da dignidade humana e demais direitos humanos. Visa, desse modo, o fim da cultura da opressão e a diminuição dos números alarmantes de violência e desigualdade.
    
                      </p>
                </div>
            </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
              <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
                <img src="https://i.imgur.com/LTTOb4G.png"
                    class="card-img-top img-postagem mx-auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Direito Ambiental</h5>
                    <p class="card-text ">Esse tema é voltado para: preocupação em promover um desenvolvimento sustentável que busca prevenir danos ambientais, o que vem se tornado cada vez mais relevante para a sociedade.

                    </p>
                   
                </div>
            </div>
            </div>

        </div>

        <div class="row mt-5 mb-5 p-4 w-100" id="historia" >
          <div class="col-md-4 d-flex justify-content-center">
            <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
              <img src="https://i.imgur.com/9MyBkv6.jpg"
                  class="card-img-top img-postagem mx-auto" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Direito Público</h5>
                  <p class="card-text ">Esse tema é voltado para:  regulação das atividades e as funções entre Estado, particulares e servidores.

                  </p>
                
              </div>
          </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
              <img src="https://i.imgur.com/bOX9PvR.jpg"
                  class="card-img-top img-postagem mx-auto" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Direitos Humanos</h5>
                  <p class="card-text ">Esse tema é voltado para: Anistia Internacional, a defesa de vítimas de violência e a garantia às liberdades fundamentais do ser humano, entre outros.

                  </p>
                 
              </div>
          </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
              <img src="https://i.imgur.com/0k1scKl.jpg"
                  class="card-img-top img-postagem mx-auto" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Direito Cívil</h5>
                    <p class="card-text">Esse tema é voltado para: normas que regem a convivência das pessoas em sociedade, essa é a mais abrangente de todas as áreas do Direito. Tratando do que se refere a bens, relação entre credor e devedor, sobre a necessidade de reparação de danos, entre outros

                    </p>
               
              </div>
          </div>
          </div>
          
          

      </div>

        <!--/POSTAGEM DE 1 A 6-->
  </div>

      <div class="container justify-content-center">
        <!--VÍDEOS-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active pt-3">
              <iframe width="1200" height="550" src="https://www.youtube.com/embed/uBZ-jmk-l9s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <iframe width="1200" height="550" src="https://www.youtube.com/embed/PfzI9lFf3c0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <iframe width="1200" height="550" src="https://www.youtube.com/embed/YZPe756JfZg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
        <!--/VÍDEOS-->
      </div>


        <!--SOBRE NÓS-->
                
        <div class="about-section " id="sobre" data-aos="fade-down" data-aos-duration="1300">
          <div class="container text-monospace">
            <h1 class="d-flex justify-content-center">Sobre nós</h1>
            <img class="mb-3" src="assets/logoSocialLaw.png" width="250px" height="200px" alt="">
            <p>Social Law é uma proposta de rede social de integração entre advogados e cidadãos. Uma rede social de cunho educativo no âmbito de justiça que ajuda o público leigo e os jovens a compreender seus direitos e deveres, fornecendo material de fácil acesso e compreensão sobre diversos temas como: direito familiar, direito trabalhista, direito da mulher, entre outros.</p> 
            <p> Essa rede também auxilia estudantes de direito que estão ingressando no mercado de trabalho. Como? Eles são responsáveis por parte da curadoria do conteúdo e por tirar as dúvidas dos usuários, ajudando a sociedade como um todo a ter uma noção melhor de algo que parece muito distante da realidade dela, e formando uma sociedade mais justa no futuro.</p>
          </div>
         
      </div>

        <div class="container text-monospace">
          <h2 style="text-align:center">Nossa Equipe</h2>
          <div class="container-criadores mt-5 p-5">

            <!-- OS CRIADORES -->
            <div class="d-flex justify-content-around flex-wrap" data-aos="fade-down" data-aos-duration="1300">
                
                <!-- CRIADOR 1 -->
                <div class="card card-criadores p-2 mt-3" style="width: 25rem;">
                    <img src="assets/bruno.jpg" 
                        class="card-imgn-top rounded-circle mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bruno</h5>
                        <p class="card-text">FullStack Js Jr - foco em back-end e organização de grupo, trabalhando com trello e merge no gitHub para um projeto multithreading eficiente.</p>
                            <div class="d-flex flex-row justify-content-center">
                              <div class="p-2">
                                  <a href="https://www.linkedin.com/in/bruno-sousa-a4094713b/" target="_blank">
                                      <i >
                                          <img  class="btn-linkedin btn-redesocial" src="assets/linkedin.png" alt="" >
                                      </i>
                                  </a>
                              </div>
                              <div class="p-2">
                                  <a href="https://github.com/imaginaCode" target="_blank">
                                      <i >
                                          <img class="btn-git btn-redesocial" src="assets/github.png" alt="" >
                                      </i>
                                  </a>
                              </div>
                          </div>
                    </div>
                </div>

                <!-- CRIADOR 2 A 5 -->

                <div class="card card-criadores p-2 mt-3" style="width: 25rem;">
                  <img src="assets/debora.jpg" class="card-imgn-top rounded-circle mx-auto" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Debora</h5>
                      <p class="card-text">Desenvolvedora Full-Stack Jr. e graduanda em Ciência da Computação. Conhecimento em Java Spring, MySql, Python, Angular, Bootstrap e Css. Dentro do Social Law tive como foco o front-end.</p>
                          <div class="d-flex flex-row justify-content-center">
                            <div class="p-2">
                                <a href="https://www.linkedin.com/in/debora-carmona/" target="_blank">
                                    <i >
                                        <img class="btn-linkedin btn-redesocial" src="assets/linkedin.png" alt="">
                                    </i>
                                </a>
                            </div>
                            <div class="p-2">
                                <a href="https://github.com/DeboraCarmonaM" target="_blank">
                                    <i >
                                        <img class="btn-git btn-redesocial" src="assets/github.png" alt="">
                                    </i>
                                </a>
                            </div>
                        </div>
                  </div>
              </div>
                
                <div class="card card-criadores p-2 mt-3" style="width: 25rem;">
                    <img src="assets/jonathan.jpg"
                        class="card-imgn-top rounded-circle mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jonathan</h5>
                        <p class="card-text">Advogado - Desenvolvedor Fullstack Jr. Conhecimento em Java Spring, Docker, Postman, Angular, Html, Css e Bootstrap. Na Social Law, responsável pelo escopo do projeto</p>
                            <div class="d-flex flex-row justify-content-center">
                              <div class="p-2">
                                  <a href="https://www.linkedin.com/in/jonathanadvocacia/" target="_blank">
                                      <i >
                                          <img class="btn-linkedin btn-redesocial" src="assets/linkedin.png" alt="">
                                      </i>
                                  </a>
                              </div>
                              <div class="p-2">
                                  <a href="https://github.com/Jonathan-eng-jur" target="_blank">
                                      <i >
                                          <img class="btn-git btn-redesocial" src="assets/github.png" alt="">
                                      </i>
                                  </a>
                              </div>
                          </div>
                    </div>
                </div>

                <div class="card card-criadores p-2 mt-3" style="width: 25rem;">
                  <img src="assets/nati.JPG"
                      class="card-imgn-top rounded-circle mx-auto" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Natália</h5>
                      <h5 class="card-title"></h5>
                      <p class="card-text">Desenvolvedora Fullstack Jr. Conhecimento em Java Spring, Docker, Postman, Angular, Html, Css e Bootstrap. No projeto Social Law, fiquei mais voltada para as funcionalidades do Backend..</p>
                          <div class="d-flex flex-row justify-content-center">
                            <div class="p-2">
                                <a href="https://www.linkedin.com/in/nat%C3%A1lia-l-moreno-4293191a2/" target="_blank">
                                    <i >
                                        <img class="btn-linkedin btn-redesocial" src="assets/linkedin.png" alt="">
                                    </i>
                                </a>
                            </div>
                            <div class="p-2">
                                <a href="https://github.com/natalialopesmoreno" target="_blank">
                                    <i >
                                        <img class="btn-git btn-redesocial" src="assets/github.png" alt="">
                                    </i>
                                </a>
                            </div>
                        </div>
                  </div>
              </div>
                

                <div class="card card-criadores p-4 mt-3" style="width: 25rem;" >
                  <img id="img.deb" src="assets/tiago.jpg"
                      class="card-imgn-top rounded-circle mx-auto" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Tiago</h5>
                      <p class="card-text">Desenvolvedor Java e JavaScript Jr fullstack com conhecimento em MySQL, Spring, Angular, Node, HTML5, CSS3, Bootstrap, jQuery, Docker e Gulp.</p>
                          <div class="d-flex flex-row justify-content-center">
                            <div class="p-2">
                                <a href="https://www.linkedin.com/in/tiago-diniz-gomes-7bb8201b6/" target="_blank">
                                    <i >
                                        <img class="btn-linkedin btn-redesocial" src="assets/linkedin.png" alt="">
                                    </i>
                                </a>
                            </div>
                            <div class="p-2">
                                <a href="https://github.com/Shamoleambo" target="_blank">
                                    <i >
                                        <img class="btn-git btn-redesocial" src="assets/github.png" alt="">
                                    </i>
                                </a>
                            </div>
                    </div>

              </div>

          </div>

    </div>
        
    



        
           

       


        





      


      
    
        
    
         
   


          
