<!-- Notas sobre o que fazer a seguir:
    1)add classe text-truncate aos parágrafos dos cards-postagens
    2)a cor do search tá verde ainda
    3)imagem da moça justiça tá pixelando, pegar outra
    4)imagens não se padronizam dependendo da razão de aspecto, talvez tenha que criar uma div e fazer algo parecido com a parallax
    5)fonte tá bem zuada, precisa de uma melhor
    6)cores ainda não foram definidas 
    7)botões ainda estão diferentes-->
    
    <div id="carouselExampleSlidesOnly" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" width="900px" height="700px" src="https://cdn.pixabay.com/photo/2017/08/06/22/24/justitia-2597016_1280.jpg" alt="Primeiro Slide">
          </div>
        </div>
   </div>  

       <!-- CONTEUDO HOME -->

      <div class="jumbotron shadow-lg jumbotron-fluid"data-aos="fade-down" data-aos-duration="1300" style="background-color:#000052; color:white; margin-bottom: 40px;">
        <h1 class="display-4 text-monospace text-center">Social Law</h1>
        <h2 class="lead text-monospace text-center">A rede da Liga da Justiça!!</h2>
        
      </div>

        <!--POSTAGENS EM DESTAQUE-->


         <div class="row mt-5 mb-5 p-3 w-100" id="historia" >
            <div class="col-md-6 d-flex justify-content-end text-monospace"  style="padding-right: 60px;">
              <h2>Postagens em destaque</h2>
            </div>
            
             <!-- BARRA DE BUSCA -->
            <div class="col-md-6 d-flex justify-content-left">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline-success btn-vinho my-2 my-sm-0" type="submit">Pesquisar</button>
              </form>
            </div>
            <!--/BARRA DE BUSCA -->

        </div>


        <div class="container">

          <!--POSTAGEM DE 1 A 6-->

          
          <div class="row mt-5 mb-5 p-4 w-100" id="historia" >
            <div class="col-md-4 d-flex justify-content-center">
              <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
                <img src="https://lh3.googleusercontent.com/proxy/pWwObokifxEyQ39zzsJFnzggwSjdeBwDULJbkYGtywtQGccQj1hn5itnXj316KTB6F3ZZvjPExBsdIKX1Of0GrHtbhDYgasEEtOFc6QwGho5-QFVX3inYha7B2d2rRNtylw7AOpvFXAzY3sxAVi4HwDpTu7n0X5IUiXkIW7sSZyfYElRo9DUS5J6"
                    class="card-img-top img-postagem mx-auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Título postagem</h5>
                    <p class="card-text text-truncate">Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit.
                        Sit, corporis
                        fuga? Debitis sunt modi autem quasi blanditiis maxime hic. Fugit, distinctio! Aliquam
                        expedita illum vel ipsam, dolore, aspernatur reprehenderit eveniet nemo fuga dignissimos
                        repudiandae ipsa. Id, eaque explicabo? Dignissimos neque repellat voluptatibus numquam
                        quidem vitae labore officia placeat sed delectus distinctio, alias, optio corrupti facere
                        molestiae eum hic exercitationem. Consectetur architecto consequatur laborum et
                        exercitationem porro praesentium repellat maxime earum voluptates natus eligendi, nam
                        ducimus magnam soluta eveniet mollitia nostrum? Minus et expedita id! Veritatis explicabo
                        quae quis quos modi distinctio at eveniet officia itaque, natus, fuga velit facilis quam.
                    </p>
                    <a href="#" class="btn btn-postagens">Go somewhere</a>
                </div>
            </div>
            </div>
            
            <div class="col-md-4 d-flex justify-content-center">
              <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
                <img src="https://static.portaldacidade.com/unsafe/1150x767/https://s3.amazonaws.com/jacarezinho.portaldacidade.com/img/news/2020-08/lei-maria-da-penha-completa-14-anos-de-vigencia-5f2d4fe98813c.jpg"
                    class="card-img-top img-postagem mx-auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Título postagem</h5>
                    <p class="card-text text-truncate">Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit.
                        Sit, corporis
                        fuga? Debitis sunt modi autem quasi blanditiis maxime hic. Fugit, distinctio! Aliquam
                        expedita illum vel ipsam, dolore, aspernatur reprehenderit eveniet nemo fuga dignissimos
                        repudiandae ipsa. Id, eaque explicabo? Dignissimos neque repellat voluptatibus numquam
                        quidem vitae labore officia placeat sed delectus distinctio, alias, optio corrupti facere
                        molestiae eum hic exercitationem. Consectetur architecto consequatur laborum et
                        exercitationem porro praesentium repellat maxime earum voluptates natus eligendi, nam
                        ducimus magnam soluta eveniet mollitia nostrum? Minus et expedita id! Veritatis explicabo
                        quae quis quos modi distinctio at eveniet officia itaque, natus, fuga velit facilis quam.
                    </p>
                    <a href="#" class="btn btn-postagens">Go somewhere</a>
                </div>
            </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
              <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
                <img src="https://saopauloadvocacia.com.br/wp-content/uploads/2020/11/Advocacia-Especializada-em-Direito-Familiar-no-Campo-Belo.jpg"
                    class="card-img-top img-postagem mx-auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Título postagem</h5>
                    <p class="card-text text-truncate">Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit.
                        Sit, corporis
                        fuga? Debitis sunt modi autem quasi blanditiis maxime hic. Fugit, distinctio! Aliquam
                        expedita illum vel ipsam, dolore, aspernatur reprehenderit eveniet nemo fuga dignissimos
                        repudiandae ipsa. Id, eaque explicabo? Dignissimos neque repellat voluptatibus numquam
                        quidem vitae labore officia placeat sed delectus distinctio, alias, optio corrupti facere
                        molestiae eum hic exercitationem. Consectetur architecto consequatur laborum et
                        exercitationem porro praesentium repellat maxime earum voluptates natus eligendi, nam
                        ducimus magnam soluta eveniet mollitia nostrum? Minus et expedita id! Veritatis explicabo
                        quae quis quos modi distinctio at eveniet officia itaque, natus, fuga velit facilis quam.
                    </p>
                    <a href="#" class="btn btn-postagens">Go somewhere</a>
                </div>
            </div>
            </div>

        </div>

        <div class="row mt-5 mb-5 p-4 w-100" id="historia" >
          <div class="col-md-4 d-flex justify-content-center">
            <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
              <img src="https://images.unsplash.com/photo-1587300003388-59208cc962cb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                  class="card-img-top img-postagem mx-auto" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Título postagem</h5>
                  <p class="card-text text-truncate">Lorem ipsum dolor, sit amet consectetur
                      adipisicing elit.
                      Sit, corporis
                      fuga? Debitis sunt modi autem quasi blanditiis maxime hic. Fugit, distinctio! Aliquam
                      expedita illum vel ipsam, dolore, aspernatur reprehenderit eveniet nemo fuga dignissimos
                      repudiandae ipsa. Id, eaque explicabo? Dignissimos neque repellat voluptatibus numquam
                      quidem vitae labore officia placeat sed delectus distinctio, alias, optio corrupti facere
                      molestiae eum hic exercitationem. Consectetur architecto consequatur laborum et
                      exercitationem porro praesentium repellat maxime earum voluptates natus eligendi, nam
                      ducimus magnam soluta eveniet mollitia nostrum? Minus et expedita id! Veritatis explicabo
                      quae quis quos modi distinctio at eveniet officia itaque, natus, fuga velit facilis quam.
                  </p>
                  <a href="#" class="btn btn-postagens">Go somewhere</a>
              </div>
          </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
              <img src="https://www.icc.eco.br/wp-content/uploads/2020/05/dia-da-terra-icc.jpg"
                  class="card-img-top img-postagem mx-auto" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Título postagem</h5>
                  <p class="card-text text-truncate">Lorem ipsum dolor, sit amet consectetur
                      adipisicing elit.
                      Sit, corporis
                      fuga? Debitis sunt modi autem quasi blanditiis maxime hic. Fugit, distinctio! Aliquam
                      expedita illum vel ipsam, dolore, aspernatur reprehenderit eveniet nemo fuga dignissimos
                      repudiandae ipsa. Id, eaque explicabo? Dignissimos neque repellat voluptatibus numquam
                      quidem vitae labore officia placeat sed delectus distinctio, alias, optio corrupti facere
                      molestiae eum hic exercitationem. Consectetur architecto consequatur laborum et
                      exercitationem porro praesentium repellat maxime earum voluptates natus eligendi, nam
                      ducimus magnam soluta eveniet mollitia nostrum? Minus et expedita id! Veritatis explicabo
                      quae quis quos modi distinctio at eveniet officia itaque, natus, fuga velit facilis quam.
                  </p>
                  <a href="#" class="btn btn-postagens">Go somewhere</a>
              </div>
          </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div class="card card-postagens pT-2 mt-1"  style="width: 18rem;">
              <img src="https://images.unsplash.com/photo-1502781252888-9143ba7f074e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                  class="card-img-top img-postagem mx-auto" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Título postagem</h5>
                  <p class="card-text text-truncate">Lorem ipsum dolor, sit amet consectetur
                      adipisicing elit.
                      Sit, corporis
                      fuga? Debitis sunt modi autem quasi blanditiis maxime hic. Fugit, distinctio! Aliquam
                      expedita illum vel ipsam, dolore, aspernatur reprehenderit eveniet nemo fuga dignissimos
                      repudiandae ipsa. Id, eaque explicabo? Dignissimos neque repellat voluptatibus numquam
                      quidem vitae labore officia placeat sed delectus distinctio, alias, optio corrupti facere
                      molestiae eum hic exercitationem. Consectetur architecto consequatur laborum et
                      exercitationem porro praesentium repellat maxime earum voluptates natus eligendi, nam
                      ducimus magnam soluta eveniet mollitia nostrum? Minus et expedita id! Veritatis explicabo
                      quae quis quos modi distinctio at eveniet officia itaque, natus, fuga velit facilis quam.
                  </p>
                  <a href="#" class="btn btn-postagens">Go somewhere</a>
              </div>
          </div>
          </div>
          
          

      </div>

        <!--/POSTAGEM DE 1 A 6-->
  </div>

      <div class="container justify-content-center">
        <!--VÍDEOS-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active pt-3">
              <iframe width="1200" height="550" src="https://www.youtube.com/embed/uBZ-jmk-l9s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <iframe width="1200" height="550" src="https://www.youtube.com/embed/PfzI9lFf3c0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <iframe width="1200" height="550" src="https://www.youtube.com/embed/YZPe756JfZg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
        <!--/VÍDEOS-->
      </div>


        <!--SOBRE NÓS-->
                
        <div class="about-section " id="sobre" data-aos="fade-down" data-aos-duration="1300">
          <div class="container text-monospace">
            <h1 class="d-flex justify-content-center">Sobre nós</h1>
            <img class="mb-3" src="assets/logoSocialLaw.png" width="250px" height="200px" alt="">
            <p>Social Law é uma proposta de rede social de integração entre advogados e cidadãos. Uma rede social de cunho educativo no âmbito de justiça que ajuda o público leigo e os jovens a compreender seus direitos e deveres, fornecendo material de fácil acesso e compreensão sobre diversos temas como: direito familiar, direito trabalhista, direito da mulher, entre outros.</p> 
            <p> Essa rede também auxilia estudantes de direito que estão ingressando no mercado de trabalho. Como? Eles são responsáveis por parte da curadoria do conteúdo e por tirar as dúvidas dos usuários, ajudando a sociedade como um todo a ter uma noção melhor de algo que parece muito distante da realidade dela, e formando uma sociedade mais justa no futuro.</p>
          </div>
         
      </div>
        
        <div class="container text-monospace">
          <h2 style="text-align:center">Nossa Equipe</h2>
          <div class="container-criadores mt-5 p-5">
  
            <!-- OS CRIADORES -->
            <div class="d-flex justify-content-around flex-wrap" data-aos="fade-down" data-aos-duration="1300">
                
                <!-- CRIADOR 1 -->
                <div class="card card-criadores p-2 mt-3" style="width: 30rem;">
                    <img src="assets/bruno.jpg" 
                        class="card-imgn-top rounded-circle mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bruno</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-vinho">Go somewhere</a>
                    </div>
                </div>
  
                <!-- CRIADOR 2 A 5 -->

                <div class="card card-criadores p-2 mt-3" style="width: 30rem;">
                  <img src="assets/debora.jpg" class="card-imgn-top rounded-circle mx-auto" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Debora</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk
                          of
                          the card's
                          content.</p>
                      <a href="#" class="btn btn-vinho">Go somewhere</a>
                  </div>
              </div>
                
                <div class="card card-criadores p-2 mt-3" style="width: 30rem;">
                    <img src="assets/jonathan.jpg"
                        class="card-imgn-top rounded-circle mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jonathan</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-vinho">Go somewhere</a>
                    </div>
                </div>

                <div class="card card-criadores p-2 mt-3" style="width: 30rem;">
                  <img src="assets/nati.JPG"
                      class="card-imgn-top rounded-circle mx-auto" alt="...">
                  <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk
                          of
                          the card's
                          content.</p>
                      <a href="#" class="btn btn-vinho">Go somewhere</a>
                  </div>
              </div>
                

                <div class="card card-criadores p-4 mt-3" style="width: 30rem;" >
                  <img id="img.deb" src="assets/tiago.jpg"
                      class="card-imgn-top rounded-circle mx-auto" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Tiago</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk
                          of
                          the card's
                          content.</p>
                      <a href="#" class="btn btn-vinho">Go somewhere</a>
                  </div>
              </div>
               
  
            </div>
        </div>
  
  
    </div>
        
    



        
           

       


        





      


      
    
        
    
         
   


          
