<!-- Footer -->
<footer class="page-footer font-small bg-secondary pt-2 fundo6 mt-6 mb-0 roboto" >

    <!-- Elementos Footer -->
    <div class="container pt-2">
  
      <!-- Contatos/ Redes Sociais -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="cor">Siga-nos em nossas redes</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
            <ul class="social-network">
               <li>
                <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
                  <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-2"></fa-icon>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/jonathanadvocacia/" target="_blank" class="icofaBlackTie" title="Help">
                  <fa-icon [icon]="faBlackTie" class="faBlackTie fa-2x p-2"></fa-icon>
                  </a>
              </li>
              <li>
                <a href="https://www.cnj.jus.br/poder-judiciario/tribunais/" target="_blank" class="icofaBalanceScale" title="Balança">
                  <fa-icon [icon]="faBalanceScale " class="faBalanceScale  fa-2x p-2"></fa-icon>
                  </a>
              </li>
              <li>
                <a href="#" target="_blank" class="icofafaWhatsapp" title="Whatsapp">
                  <fa-icon [icon]="faWhatsapp " class="faWhatsapp  fa-2x p-2"></fa-icon>
                  </a>
              </li>
            </ul>
        </div>
      </div>
  
      <!-- Termino Contatos/ Redes Sociais -->
  
    </div>
    <!-- Termino Elementos Footer  -->
  
    <!-- Diretrizes LGPD -->
    <div class="footer-copyright fundo text-center py-2">
      <a class="text-light" target="_blank" href="#">Política de Cookies | </a>
      <a class="text-light" target="_blank" href="#">Política de Privacidade | </a>
      <a class="text-light" target="_blank" href="#">Termos e Condições</a>
    </div>
    <!-- Termino Diretrizes LGPD -->

  <!-- Direito Autoral -->
  <div class="footer-copyright fundo text-center py-1">
    <span class="text-light"> © 2020 Copyright: </span>
    <a class="text-light" target="_blank" href="#">www.sociallaw.com.br</a>
  </div>
  <!-- Termino Direito Autoral -->
  
  </footer>
  <!-- Termino Footer -->
