.btn-azul{
    color: #000052;
    background-color: #ffffff;
    border-color: #000052;
}

.btn-azul:hover{
    color: #ffffff;
    background-color:  #000052;
}

.p-6 {
    padding: 4rem !important;
  }

  .pt-6,
.py-6 {
  padding-top: 6rem !important;
}

#img-logar{
  background-image: url(https://cdn.pixabay.com/photo/2017/08/06/22/24/justitia-2597016_1280.jpg);
  background-repeat: no-repeat;
}
