<div class="feed" data-aos="fade-down" data-aos-duration="1000" style="background-color: white" >
  <div class="container shadow-lg p-3 mb-5 mt-5 " >
  <div class="row">
      <div class="col-md-8 mt-8">
          <!--centro do feed-->

          <h3 class="text-center mb-4 postagem">
            <span class="medi-sharp">P</span>ostagem
          </h3>

              <div class="form-group">
                <label class="text-monospace" for="titulo" >Titulo:</label>
                <input
                  type="text"
                  class="form-control"
                  id="titulo"
                  placeholder="Digite aqui seu título"
                  [(ngModel)]='postagem.titulo'
                />
              </div>
              <div class="form-group">
                <label class="text-monospace" for="texto" >Texto:</label>
                <textarea
                  class="form-control"
                  id="texto"
                  rows="3"
                  placeholder="Digite aqui seu texto"
                  [(ngModel)]='postagem.artigo'
                ></textarea>
              </div>

              <div class="row d-flex align-items-end">
                <div class="col-md-6">
                  <div class="form-group m-0">
                    <label class="text-monospace" for="tema">
                      Escolha seu tema
                      <ng-template [ngIf]="verificarAdmin()">
                      <a routerLink='/cadastro-tema' > ou Cadastre um novo</a>
                    </ng-template>
                      </label
                    >
                    <select  name="tema" id='tema' class="form-control" [(ngModel)]='idTema' (change)='findByIdTemas()'>
                      <option *ngFor='let item of listaTemas' value={{item.id_tema}}>
                        {{item.nome}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                  <button type="button" class="btn btn-vinho w-25" (click)='publicar()'>
                    Publicar
                  </button>
                </div>
              </div>

              <hr class="mt-5 mb-5" />


              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active"
                  id="minhas-postagens"
                  role="tabpanel"
                  aria-labelledby="nav-postagens-tab"
                >
                  <div class="row mt-3 mb-3">
                    <div class="col-md-10 pr-0">
                      <input
                        class="form-control w-100"
                        type="search"
                        placeholder="Pesquisar postagem"
                        aria-label="Pesquisar"
                        [(ngModel)]= 'titulo'
                      />
                    </div>
                    <div class="col-md-2 pl-0">
                      <button class="btn btn-vinho w-100" type="button" (click)= 'findByTituloPostagem()'>
                        Pesquisar
                      </button>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-12">

                      <ng-template [ngIf]="verificarNulo()">
                      <div class="card mt-5 mb-5"  *ngFor="let item of user.postagem | orderBy : key : reverse | paginate: { itemsPerPage: contador, currentPage: p }" >

                        <div class="card-header">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-8">
                                    <h5 class="card-title"> {{item.titulo}} </h5>
                                    <small>Tema: {{item.tema.nome}} </small>

                                </div>
                                <div class="col-md-4 d-flex justify-content-end">

                                    <button class="mr-3 btn btn-vinho"
                                      [routerLink]="['/editar-post', item.id_postagem]"> <!-- O ID ESTÁ SENDO ENVIADO PELA URL: editar-post/:id(rota criada) -->
                                        Editar
                                    </button>

                                    <button class="btn btn-vinho ml-3"
                                      [routerLink]="['/delete-post', item.id_postagem]">
                                        Apagar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" >
                          <p class="card-text" aria-describedby="texto"> {{item.artigo}} </p>
                          <small id="texto" class="form-text m-0 text-muted mb-3 text-monospace">
                            Postado em {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:'HH:mm'}}</small>

                            <div class="form-group">
                              <label class="text-monospace" for="titulo" >Comentário:</label>
                              <input
                                type="text"
                                class="form-control"
                                id="comentario"
                                placeholder="Digite aqui seu título"
                                [(ngModel)]='comentario.artigo'
                              />

                                <button type="button" class="btn btn-vinho w-25 mt-2" (click)='publicarComentario(item.id_postagem)'>
                                  Publicar
                                </button>
                                <button type="button" class="btn btn-vinho ml-2 mt-2" data-toggle="collapse" data-target="#collapseExample"> Mostrar Comentários </button>
                                <div *ngFor='let coment of item.comentarios' class="collapse" id="collapseExample">
                                  <div class="col-md-12">
                                    <div class="card mt-5">
                                      <div class="card-body">

                                        <small>{{coment.artigo}} </small>
                                        <small id="texto" class="form-text m-0 text-muted mt-2 text-monospace">
                                          Postado em {{coment.data | date: 'dd/MM/yyyy'}} às {{coment.data | date:'HH:mm'}}</small>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>

                            </div>

                    </div>

                  </ng-template>
                    </div>
                    <div class="text-right">
                      <pagination-controls
                        (pageChange)="p = $event"
                        previousLabel="Anterior"
		                    nextLabel="Próximo"
                      ></pagination-controls>
                    </div>
                  </div>

                </div>

              </div>







                <div
                  class="tab-pane fade"
                  id="postagens-temas"
                  role="tabpanel"
                  aria-labelledby="nav-presenca-tab"
                >
                  <div class="row mt-3 mb-3">
                    <div class="col-md-10 pr-0">
                      <input
                        class="form-control w-100"
                        type="search"
                        placeholder="Pesquisar postagem"
                        aria-label="Pesquisar"
                        [(ngModel)]= 'nomeTema'>
                    </div>
                    <div class="col-md-2 pl-0">
                      <button class="btn btn-outline-danger w-100" type="button" (click)= 'findByNomeTema()'>
                        Pesquisar
                      </button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">

                      <div class="card mt-5 mb-5"  *ngFor="let item of listaPostagem | orderBy : key : reverse | paginate: { itemsPerPage: contador, currentPage: p }">
                        <div *ngFor='let post of item.postagem'>
                        <div class="card-header">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-8">
                                    <h5 class="card-title"> {{post.titulo}} </h5>
                                    <small>Tema: {{post.tema.nome}} </small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" >
                          <p class="card-text" aria-describedby="texto"> {{post.artigo}} </p>
                          <small id="texto" class="form-text m-0 text-muted mb-3 text-monospace">
                            Postado em {{post.data | date: 'dd/MM/yyyy'}} às {{post.data | date:'HH:mm'}}</small>
                        </div>
                    </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-right">
                    <pagination-controls
                      (pageChange)="p = $event"
                      previousLabel="Anterior"
		                  nextLabel="Próximo"
                      ></pagination-controls>
                  </div>

                </div>



              </div>





      <div class="col-md-4 justify-content-end mt-5">
          <!--lateral direita com o perfil -->
          <div class="card justify-element-center shadow-lg p-3 mb-5 bg-transparent" style="width: 18rem;  ">
            <img class="card-img-top rounded-circle justify-content-center"
              style="width:250px; height: 250px; padding: 12px; margin-left:8px; margin-right:12px "
              src="https://static.vecteezy.com/system/resources/previews/000/654/724/non_2x/vector-woman-face-cartoon.jpg"
              alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Seja bem-vindxs {{user.nome}}!</h5>

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item " style=" color:white; border-color:white; background-color:#000052;">{{user.usuario}}
              </li>
              <li class="list-group-item " style=" color:white; border-color:white; background-color:#000052;">{{user.postagem.length}} Postagens</li>
              <li class="list-group-item " style=" color:white;border-color:white; background-color:#000052;">{{user.comentarios.length}} Comentários
              </li>
            </ul>
          </div>
      </div>

  </div>
  </div>
  </div>







