.espacamento {
  letter-spacing: 0.2rem;
}

.ml-600 {
  margin-left: 700px;
}

.ml-850 {
  margin-left: 850px;
}

.ml-sair {
  margin-left: 45px;
  margin-top: 15px
}

.icone-login {
  margin-left: 1250%;
  margin-top: 30%;

}

.ml-botoes {
  margin-left: 950%;
}

.feed {
  margin-top: 40%;
}

.forum {
  margin-top: 31%;
}

.mx-h
{

    max-height: 100px;

}

.cadastrar {
  margin-top: -1%;
}

.login {
  margin-top: -80%;
  margin-left: 1300%;
}

.btn-sair {
  color: #ffffff;
  background-color: #000052;
  border-color: #ffffff;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.btn-sair:hover {
  -webkit-transform: scale(1.15); /* Safari and Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* IE 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}

.btn-menu {
  color: #ffffff;
  background-color:  #000052;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
  
}

.btn-menu:hover {
  -webkit-transform: scale(1.15); /* Safari and Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* IE 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}

.nav-link {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}
.nav-link:hover {
  -webkit-transform: scale(1.15); /* Safari and Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* IE 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}

/* Fonte SOCIAL LAW */
.medi-sharp {
  font-size: 1.5em;
  text-shadow: -3px -3px #a30000;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
}

.ml-sair-avatar {
  margin-left: 930px;
}
